@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
* {
  font-family: "Rubik", sans-serif;
}

.heroPage {
  background: rgb(106, 44, 0);
  background: linear-gradient(15deg, rgb(106, 44, 0) 0%, rgb(255, 70, 0) 100%);
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}