@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500&display=swap");
* {
  font-family: "Wix Madefor Display", sans-serif;
}

body {
  background-color: black;
}

.heroPage {
  background: rgb(0, 0, 0);
  background-image: url(https://pixabay.com/videos/black-black-friday-background-loop-13495/);
  background-repeat: no-repeat;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}
.heroPage .Heeero {
  margin-top: 5%;
}
.heroPage .Heeero .HeroTextLeft {
  justify-content: center;
  text-align: left;
  color: white;
}
.heroPage .Heeero .HeroTextLeft h1, .heroPage .Heeero .HeroTextLeft h3 {
  font-size: 80px;
  font-weight: 900;
}
.heroPage .Heeero .HeroTextLeft h1 span, .heroPage .Heeero .HeroTextLeft h3 span {
  color: rgb(255, 70, 0);
}
.heroPage .Heeero .HeroTextLeft h2 span {
  color: rgb(255, 70, 0);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.heroPage .Heeero .HeroTextLeft button {
  color: rgb(255, 70, 0);
}
.heroPage .Heeero .HeroTextRight {
  display: flex;
  justify-content: center;
  height: 100%;
}
.heroPage .Heeero .HeroTextRight img {
  width: 90%;
}
.heroPage body {
  font-family: "Raleway", sans-serif;
  background-image: radial-gradient(circle at center, #899Dc4, #495D84);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse at bottom, #1b2735, #090a0f);
  font-weight: 300;
}
.heroPage .all {
  display: flex;
  perspective: 10px;
  transform: perspective(300px) rotateX(20deg);
  will-change: perspective;
  perspective-origin: center center;
  transition: all 1.3s ease-out;
  justify-content: center;
  transform-style: preserve-3d;
}
.heroPage .all:hover {
  perspective: 1000px;
  transition: all 1.3s ease-in;
  transform: perspective(10000px) rotateX(0deg);
}
.heroPage .all:hover .text {
  opacity: 1;
}
.heroPage .all:hover > div {
  opacity: 1;
  transition-delay: 0s;
}
.heroPage .all:hover .explainer {
  opacity: 0;
}
.heroPage .left, .heroPage .center, .heroPage .right, .heroPage .leftEdge, .heroPage .rightEdge {
  width: 200px;
  height: 150px;
  transform-style: preserve-3d;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.3s ease;
  transition-delay: 1s;
  position: relative;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(61, 16, 0);
  cursor: pointer;
  background-blend-mode: color-burn;
}
.heroPage .left:hover, .heroPage .center:hover, .heroPage .right:hover, .heroPage .leftEdge:hover, .heroPage .rightEdge:hover {
  box-shadow: 0 0 30px 10px rgba(100, 100, 255, 0.6);
  background-color: #ccf;
}
.heroPage .text {
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease;
  bottom: 0;
  left: 5px;
  position: absolute;
  will-change: transform;
  color: #fff;
  text-shadow: 0 0 5px rgba(100, 100, 255, 0.6);
}
.heroPage .leftEdge {
  transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/organization-512.png);
}
.heroPage .left {
  transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/creative_draw-512.png);
}
.heroPage .center {
  opacity: 1;
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/app_window-512.png);
}
.heroPage .right {
  transform: translateX(30px) translateZ(-25px) rotateY(5deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/cloud_weather-512.png);
}
.heroPage .rightEdge {
  transform: translateX(60px) translateZ(-50px) rotateY(10deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/search-512.png);
}
.heroPage .explainer {
  font-weight: 300;
  font-size: 2rem;
  color: #fff;
  transition: all 0.6s ease;
  width: 100%;
  height: 100%;
  background-color: #303050;
  background-image: radial-gradient(circle at center top, #cce, #33a);
  border-radius: 10px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroPage .ref {
  background-color: #000;
  background-image: linear-gradient(to bottom, #d80, #c00);
  border-radius: 3px;
  padding: 7px 10px;
  position: absolute;
  font-size: 16px;
  bottom: 10px;
  right: 10px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
.heroPage .ref::first-letter {
  font-size: 12px;
}

.liner {
  background-color: black;
}
.liner .line {
  height: 15px;
  width: 100%;
  margin-top: 0;
}