@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

*{
    font-family: 'Rubik', sans-serif;
}

footer {
        margin: 0 auto;
        justify-content: center;
        background-color: #822300;

    section {
        .FootContent{
            justify-content: center;
            flex-wrap: wrap;
            .footerContent {
                a{
                    color: white;
            font-size: 10px;
            text-decoration: none;
                }:hover {
                    color: #FF4600;
                }
                li {
                    list-style: none;
                }
            }
        }
    }
}
