@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Nunito:wght@200;400;700&display=swap');

*{
    font-family: 'Times New Roman', Times, serif;
    font-family: 'Libre Baskerville', serif;
// font-family: 'Nunito', sans-serif;
}


.heroPage {
    background: rgb(106,44,0);
    background: linear-gradient(15deg, rgba(106,44,0,1) 0%, rgba(255,70,0,1) 100%);
    height: 100vh;
    margin: 0 auto;
    justify-content: center;
    text-align: center;

    .HeroText{
        // width: 40%;
        margin-top: 5%;
        justify-content: center;
        text-align: center;
        color: white;
        h1, h3{
            font-size: 60px;
        }
        h2{
            span{
                text-decoration: underline;
                font-style: italic;
                font-family: cursive;
            }
        }

        button {
            color: rgba(255,70,0,1);
        }:hover {

        }
    }
}