  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

*{
    font-family: 'Rubik', sans-serif;
}

// Navbar
.navBar {
        margin: 0 auto;
        justify-content: center;
        background-color: #822300;
    
        .navAlign {
            justify-content: center;
            align-items: center;
        .todayDate {
        font-weight: 500;
        font-size: 12px;
        color: white;
    }
    .image{
        img {
            max-width: 100%;
        }
    } 

    input {
        background-color: #ffe9e1;
        border: none;
        border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    }:focus{
        outline: none;
        border: 1px solid #FF4600;
        border-right: none;
    }
    input::placeholder{
        padding: 10px;
    }

   .search{
    width: 40px;
    color: #FF4600;
    background-color: #ffe9e1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
   } 

    }     
}  

// Navbar 2
.nav2{
    margin: 0 auto;
    justify-content: center;
        background-color: #ebebeb;
        text-align: center;

        .menu {
            a{
                color: black;
                text-decoration: none;
            }:hover {
                color: #FF4600;
            }
        }
    }